<nav class="navbar">

    <a href="index.html" class="logo">
        <img class="navbar-img" src="public/Brew-Haven-Coffee-Logo-Sage.png" alt="Brew Haven Coffee Logo">
    </a>

    <div class="navbar-links">
        <a routerLink="/">Home</a>
        <a routerLink="/about">Our Story</a>
        <a routerLink="/menu">Menu</a>
        <a routerLink="/gallery">Gallery</a>
        <a routerLink="/contact">Contact</a>
    </div>

    <a class="order-online" routerLink="/order-online">
        Order Online
    </a>

</nav>